.container {
  display: flex;
}

.box {
  width: 400px;
  height: 200px;
  border: 2px solid black
}

.box-gray {
  background-color: gray;
}

.box-green {
  background-color: green;
}

h4 {
  text-align: center;
  color: rgb(184, 40, 40);
  font-size: 2rem;
}

li {
  font-size: 1.2rem;
}
